/* Preloader */

body{
    overflow: hidden; /*preloader*/
}

#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:100px;
    height:100px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/ring.gif); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}